<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="user_name" ><%= user.name %></td>
        <td style="visibility:hidden;">       
          <%= user.id %>,
          <%= user.name %>,
          <%= user.address %>,
          <%= user.phone_number %>
        </td>                          
      </tr>
    <% end %>
  </tbody>
</table>
